<h2>Reactives: with Radios, Checks and Switches</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="myFormcito">

            <!-- Radios -->
            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">Genero</label>
                </div>
                <div class="col-md-9">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioMale" value="M"
                               formControlName="genero">
                        <label class="form-check-label" for="radioMale">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioFeminine" value="F"
                               formControlName="genero">
                        <label class="form-check-label" for="radioFeminine">
                            Feminine
                        </label>
                    </div>
                </div>
            </div>

            <!-- Switches -->
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-label">Notifications</div>
                </div>
                <div class="col-md-9">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="switchNotification"
                               formControlName="notifications">
                        <label class="form-check-label" for="switchNotification">I want to recieve notifications</label>
                    </div>
                </div>
            </div>

            <!-- Checks -->
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-label"></div>
                </div>
                <div class="col-md-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkTerms"
                               formControlName="terms">
                        <label class="form-check-label" for="checkTerms">Terms and Conditions of use</label>
                    </div>
                    <span class="form-text text-danger">
                      Accept terms and conditions
                    </span>
                </div>
            </div>

            <!-- Button -->
            <div class="row mb-3">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            (click)="save()">
                            Save
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>




<h5>Value of form controls</h5>
<pre>{{myFormcito.value | json}}</pre>

<h5>Valid?</h5>
<pre>{{myFormcito.valid}}</pre>

<h5>Person</h5>
<pre>{{person | json}}</pre>


<h5>Terms and Conditions</h5>
<!-- <pre>{{myFormcito.controls.terms?.errors | json}}</pre> -->

<h5>Conditions</h5>